.nav-bar {
  background-color: #222831;
  color: white;
  height: 3rem;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 0.6rem;
}

.website-name {
  display: flex;
  justify-content: center;
  position: relative;
}

.sign-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(-25%, -50%);
  cursor: pointer;
  height: 2rem;
  width: 5rem;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #393e46;
  text-decoration: none;
}

.sign-in-btn:hover {
  background-color: #00adb5;
  color: #222831;
  border-radius: 8px;
  border: 1px solid #393e46;
  transition: all 0.15s ease-in;
}
